<div class="profile_background">
  <div>
    <img class="header responsive-img" id="contact_image" src="vlad5-min.jpg"/>
    <h1 class="center-align" id="contact_text">Contact        </h1>
  </div>
  <div id="contact_form">
    <div class="center-align container">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input class="validate" id="icon_prefix" placeholder="Full Name" type="text">
                <label for="icon_prefix"></label>
              </input>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">phone</i>
              <input class="validate" id="icon_telephone" placeholder="Telephone" type="tel">
                <label for="icon_telephone"></label>
              </input>
            </div>
            <br/>
            <br/>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea class="materialize-textarea" id="icon_prefix2" placeholder="Message"></textarea>
              <label for="icon_prefix2"></label>
            </div>
            <br/>
            <br/>
            <br/>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input class="validate" id="email" placeholder="Email" type="email">
                <label data-error="wrong" data-success="right" for="email"></label>
              </input>
            </div>
            <br/>
            <br/>
          </div>
          <button class="btn waves-effect waves-light submit" name="action" type="submit">
            Submit
            <i class="material-icons right" id="submit_icon">send   </i>
          </button>
          <br/>
          <br/>
        </form>
      </div>
    </div>
  </div>
</div>
