.profile_background
  %h2.center-align
    Gallery
  %br 
  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "lol1.jpg"} 
        %img.profile.center-align.responsive-image{:src => "lol2.jpg"} 
      %td
        %img.profile.center-align.responsive-image{:src => "lol3.jpg"} 
        %img.profile.center-align.responsive-image{:src => "lol4.jpg"} 
      %tr
        %img.profile.center-align.responsive-image{:src => "lol5.jpg"} 
        %img.profile.center-align.responsive-image{:src => "lol6.jpg"} 
      %tr
        %img.profile.center-align.responsive-image{:src => "lol7.jpg"} 
        %img.profile.center-align.responsive-image{:src => "lol8.jpg"} 
  %br
  %br
  %br
  