.profile_background.center-align
  %table
  %h2.center-align 
    Gallery
  %thead
    %tbody
      %tr
        %td
          %img.gallery1.center-align.responsive-image{:src => "pic37.jpg"} 
          %img.gallery1.center-align.responsive-image{:src => "pic40.jpg"} 
        %td
          %img.gallery1.center-align.responsive-image{:src => "vlad1.jpg"} 
          %img.gallery1.center-align.responsive-image{:src => "pic39.jpg"} 
      %tr
        %td
          %img.gallery1.center-align.responsive-image{:src => "pic38.jpg"} 
          %img.gallery1.center-align.responsive-image{:src => "pic2.jpg"} 
      %tr
        %td
          %img.gallery1.center-align.responsive-image{:src => "pic20.jpg"} 
          %img.gallery1.center-align.responsive-image{:src => "pic7.jpg"}
      %tr
        %td
          %img.gallery1.center-align.responsive-image{:src => "pic12.jpg"} 
          %img.gallery1.center-align.responsive-image{:src => "pic18.jpg"} 
        %td
          %img.gallery1.center-align.responsive-image{:src => "vlad1.jpg"} 
          %img.gallery1.center-align.responsive-image{:src => "pic39.jpg"} 
      %tr
        %td
          %img.gallery1.center-align.responsive-image{:src => "pic27.jpg"} 
          %img.gallery1.center-align.responsive-image{:src => "pic26.jpg"} 
      %tr
        %td
          %img.gallery1.center-align.responsive-image{:src => "pic28.jpg"} 
          %img.gallery1.center-align.responsive-image{:src => "pic32.jpg"}
      %tr
        %td
          %img.gallery1.center-align.responsive-image{:src => "pic23.jpg"} 
          %img.gallery1.center-align.responsive-image{:src => "pic5.jpg"}
      %tr
        %td
          %img.gallery1.center-align.responsive-image{:src => "pic1.jpg"} 
          %img.gallery1.center-align.responsive-image{:src => "pic11.jpg"} 
      %tr
        %td
          %img.gallery1.center-align.responsive-image{:src => "pic21.jpg"} 
          %img.gallery1.center-align.responsive-image{:src => "pic31.jpg"}
      %tr
        %td
          %img.gallery1.center-align.responsive-image{:src => "pic29.jpg"} 
          %img.gallery1.center-align.responsive-image{:src => "pic10.jpg"}                 
  %br
  %br
  %br
  