.profile_background.center-align
  %table
  %h2.gallery.center-align 
    Gallery
  %thead
    %tbody
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "scotheader-min.jpg"} 
          %img.gallery2.center-align.responsive-image{:src => "pic39-min.jpg"} 
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic41-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic56-min.jpg"} 
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic48-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic55-min.jpg"} 
      %tr
        %td
          %img.gallery3.center-align.responsive-image{:src => "pic52-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic54-min.jpg"}
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic43-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic40-min.jpg"} 
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic37-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic49-min.jpg"} 
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic32-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic20-min.jpg"} 
      %tr
        %td
          %img.gallery5.center-align.responsive-image{:src => "pic19-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic12-min.jpg"}
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic11-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic28-min.jpg"} 
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic8-min.jpg"} 
          %img.gallery2.center-align.responsive-image{:src => "pic38-min.jpg"}
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic4-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic1-min.jpg"}
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic5-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic7-min.jpg"} 
      %tr
        %td
          %img.gallery2.center-align.responsive-image{:src => "pic53-min.jpg"}
          %img.gallery4.center-align.responsive-image{:src => "pic21-min.jpg"}
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic27-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic29-min.jpg"}
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic31-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic2-min.jpg"} 
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic42-min.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic47-min.jpg"} 
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic50-min.jpg"}             
  %br
  %br
  %br
  