.profile_background.center-align
  %table
  %h2.center-align 
    Gallery
  %thead
    %tbody
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic23.jpg"} 
          %img.gallery2.center-align.responsive-image{:src => "pic39.jpg"} 
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic41.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic56.jpg"} 
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic48.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic55.jpg"} 
      %tr
        %td
          %img.gallery3.center-align.responsive-image{:src => "pic52.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic54.jpg"}
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic43.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic40.jpg"} 
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic37.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic49.jpg"} 
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic32.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic20.jpg"} 
      %tr
        %td
          %img.gallery5.center-align.responsive-image{:src => "pic19.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic12.jpg"}
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic11.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic28.jpg"} 
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic8.jpg"} 
          %img.gallery2.center-align.responsive-image{:src => "pic38.jpg"}
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic4.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic1.jpg"}
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic5.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic7.jpg"} 
      %tr
        %td
          %img.gallery2.center-align.responsive-image{:src => "pic53.jpg"}
          %img.gallery4.center-align.responsive-image{:src => "pic21.jpg"}
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic27.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic29.jpg"}
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic31.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic2.jpg"} 
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic42.jpg"} 
          %img.gallery4.center-align.responsive-image{:src => "pic47.jpg"} 
      %tr
        %td
          %img.gallery4.center-align.responsive-image{:src => "pic50.jpg"}             
  %br
  %br
  %br
  