.center-align 
  .row
    %img#home_image.home.responsive-image{:src => "pic2-min.jpg"}
    %a#home_button1.waves-effect.waves-teal.btn-large{:href => "gallery"} Gallery

    %img.home.responsive-image{:src => "pic28-min.jpg"}
    %a#home_button2.waves-effect.waves-teal.btn-large{:href => "scot"} Scot

    %img.home.responsive-image{:src => "vlad2-min.jpg"}
    %a#home_button3.waves-effect.waves-teal.btn-large{:href => "vlad"} Vlad

    %img.home.responsive-image{:src => "vlad8-min.jpg"}
    %a#home_button4.waves-effect.waves-teal.btn-large{:href => "justin"} Justin

    %img.home.responsive-image{:src => "scotheader-min.jpg"}
    %a#home_button5.waves-effect.waves-teal.btn-large{:href => "contact"} Contact




