<div class="center-align">
  <div class="row">
    <div class="home_div1">
        <img class="home responsive-img flow-text" id="home_image" src="pic2-min.jpg"/>
        <a class="waves-effect waves-teal btn-large col s6 m4 l2" href="gallery" id="home_button1">Gallery</a>
    </div>
    <img class="home responsive-img" src="pic28-min.jpg"/>
    <a class="waves-effect waves-teal btn-large col s6 m4 l2" href="scot" id="home_button2">Scot</a>
    <img class="home responsive-img" src="vlad2-min.jpg"/>
    <a class="waves-effect waves-teal btn-large col s6 m4 l2" href="vlad" id="home_button3">Vlad</a>
    <img class="home responsive-img" src="vlad8-min.jpg"/>
    <a class="waves-effect waves-teal btn-large col s6 m4 l2" href="justin" id="home_button4">Justin</a>
    <img class="home responsive-img" src="scotheader-min.jpg"/>
    <a class="waves-effect waves-teal btn-large col s6 m4 l2" href="contact" id="home_button5">Contact</a>
  </div>
</div>



