.center-align 
  %img#home_image.home.responsive-image{:src => "vlad9.jpg"}
  %a#home_button1.waves-effect.waves-teal.btn-large{:href => "gallery"} Gallery

  %img.home.responsive-image{:src => "vlad4.jpg"}
  %a#home_button2.waves-effect.waves-teal.btn-large{:href => "scot"} Scot

  %img.home.responsive-image{:src => "vlad2.jpg"}
  %a#home_button3.waves-effect.waves-teal.btn-large{:href => "vlad"} Vlad

  %img.home.responsive-image{:src => "vlad8.jpg"}
  %a#home_button4.waves-effect.waves-teal.btn-large{:href => "justin"} Justin

  %img.home.responsive-image{:src => "scotheader.jpg"}
  %a#home_button5.waves-effect.waves-teal.btn-large{:href => "contact"} Contact




