.center-align 
  %img.home.responsive-image{:src => "vlad9.jpg"}
  %img.home.responsive-image{:src => "vlad4.jpg"}
  %img.home.responsive-image{:src => "vlad2.jpg"}
  %img.home.responsive-image{:src => "vlad8.jpg"}
  %img.home.responsive-image{:src => "scotheader.jpg"}

