.profile_background
  %img#justin_image.header.responsive-image{:src => "scotheader3.jpg"}
  %h1#justin_text.center-align Justine 
  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "justinpro.jpg"} 
      %td   
        %p#bio
          %h5 
            Justine Ote
          %h5 
            Instagram:
            %a.bio_links{:href => "https://www.instagram.com/otejustin/"} otejustin
          %h5 
            Email:
            %a.bio_links{:href => "mailto:Scot.c.chard@gmail.com"} Unkown 
          %h5 
            Cell-Phone: (267) 844-9346
          %h5 
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.