.profile_background
  %img.header.responsive-image{:src => "justinheader.jpg"}

  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "justin2.jpg"} 
      %td   
        %p#bio
          Justine Ote