.profile_background
  %img#justin_image.header.responsive-image{:src => "scotheader3-min.jpg"}
  %h1#justin_text.center-align Justin 
  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "justinprof-min.jpg"} 
      %td   
        %p#bio
          .name
            Justin Ote
          %h5
            %a.social{:href => "https://www.instagram.com/otejustin/", :target => "_blank"}
              %img.social{:src => "insta.png"}
            %a.social{:href => "https://twitter.com/justinote", :target => "_blank"}
              %img.social{:src => "twitter.png"}  
            %a.social{:href => "https://www.youtube.com/channel/UCmb1wN9NU8UYXxnkVZoHHpA", :target => "_blank"}
              %img.social{:src => "youtube.png"}
            %a.social{:href => "mailto:otejustin@yahoo.com"}
              %img.social{:src => "email.png"}
          %br        
          %h5.about-us 
            Hello my name is Justin Ote. I was born in Gapan, Philippines (1996) and raised in Northwest Philly. I am currently living in Millville, New Jersey and attending College at Cumberland County to pursue my degree in graphic design. My hobbies are listening to music, hanging out with friends, travel and photography/videography. Feel free to reach out to me anytime. I am available for hire.  
  %br
  %br          