.profile_background
  %img#justin_image.header.responsive-image{:src => "scotheader3.jpg"}
  %h1#justin_text.center-align Justine 
  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "https://pbs.twimg.com/profile_images/670785674404954112/rpVbNVCW_400x400.jpg"} 
      %td   
        %p#bio
          %h5 
            Justine Ote
          %h5 
            Cell-Phone: (267) 844-9346
          %h5
            %a.social{:href => "https://www.instagram.com/otejustin/", :target => "_blank"}
              %img.social{:src => "insta.png"}
            %a.social{:href => "https://twitter.com/justinote", :target => "_blank"}
              %img.social{:src => "twitter.png"}  
            %a.social{:href => "https://www.youtube.com/user/iXOverDrive", :target => "_blank"}
              %img.social{:src => "youtube.png"}
            %a.social{:href => "mailto:Scot.c.chard@gmail.com"}
              %img.social{:src => "email.png"}    
          %h5 
            Hello, my name is Justin Ote. I am 19 years of age. My biggest passion is sleeping. I spend 90% of my days (and nights) sleeping, and the other 10% panicing about life, and what to with mine. I am  currently attending college pursuing a degree in Graphic Design. My career goals to be a Graphic Designer, a Videographer, and a professional YouTuber. If I can make a living of daily sleep vlobs, you can concider my life complete. 
  %br
  %br          