.profile_background
  %img#scot_image.header.responsive-image{:src => "justinheader.jpg"}
  %h1#scot_text.center-align Scot
  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "scot4.jpg"} 
      %td   
        %p#bio
          %h5
            Scot Chard 
          %h5
            %a{:href => "https://www.instagram.com/scot_chard/"}
              %img.social{:src => "instapink.png", :target => "_blank"}
            %a{:href => "https://github.com/Scotchard22"}
              %img.social{:src => "githubpink.png", :target => "_blank"}
            %a{:href => "https://www.linkedin.com/in/scotchard"}
              %img.social{:src => "linkedinpink.png"}    
            %a{:href => "mailto:Scot.c.chard@gmail.com"}
              %img.social{:src => "emailpink.png"}
          %h5 
            Cell-Phone: (856) 723-3609
          %h5 
            Scot Chard is a Southern Jersey based photographer. He enjoys traveling and creating new experiences. He focuses primarily on landscape and car photography. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
  %br
  %br          