.profile_background
  %img#scot_image.header.responsive-image{:src => "justinheader.jpg"}
  %h1#scot_text.center-align Scot
  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "scot4.jpg"} 
      %td   
        %p#bio
          %h5
            Scot Chard 
          %h5
            %a{:href => "https://www.instagram.com/scot_chard/"}
              %img{:src => "twitter.png"}
            %a{:href => "mailto:Scot.c.chard@gmail.com"}
              %i#email.material-icons email
          %h5 
            Cell-Phone: (856) 723-3609
          %h5 
            Scot Chard is a Southern Jersey based photographer. He enjoys traveling and creating new experiences. He focuses primarily on landscape and car photography.