.profile_background
  %img#scot_image.header.responsive-image{:src => "justinheader.jpg"}
  %h1#scot_text.center-align Scot
  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "scotpro4.jpg"} 
      %td   
        %p#bio
          %h5
            Scot Chard 
          %h5 
            Cell-Phone: (856) 723-3609
          %h5
            %a.social{:href => "https://www.instagram.com/scot_chard/", :target => "_blank"}
              %img.social{:src => "insta.png"}
            %a.social{:href => "https://github.com/Scotchard22", :target => "_blank"}
              %img.social{:src => "github.png"}
            %a.social{:href => "https://www.linkedin.com/in/scotchard", :target => "_blank"}
              %img.social{:src => "linkedin.png"}    
            %a.social{:href => "mailto:Scot.c.chard@gmail.com"}
              %img.social{:src => "email.png"}
          %h5 
            Scot Chard lives in South Jersey. He has a huge passion for traveling which has sparked a big interest in photography. Photography is one of the greatest forms of art.
          %h5   
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
  %br
  %br          