.profile_background
  %img#scot_image.header.responsive-image{:src => "justinheader.jpg"}
  %h1#scot_text.center-align Scot
  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "pic51.jpg"} 
      %td   
        %p#bio
          .name
            Scot Chard 
          %h5
            %a.social{:href => "https://www.instagram.com/scot_chard/", :target => "_blank"}
              %img.social{:src => "insta.png"}
            %a.social{:href => "https://github.com/Scotchard22", :target => "_blank"}
              %img.social{:src => "github.png"}
            %a.social{:href => "https://www.linkedin.com/in/scotchard", :target => "_blank"}
              %img.social{:src => "linkedin.png"}    
            %a.social{:href => "mailto:Scot.c.chard@gmail.com"}
              %img.social{:src => "email.png"}
          %br    
          %h5 
            He has a huge passion for traveling which has sparked a big interest in photography. Photography is one of the greatest forms of art. It isn't just a simply capturing images of a place, a thing, or a person. Photography is capturing the most valuable moments in your life, and making them timeless. It captures the moment along with feelings and memories that go along with the image at that current time. This is why he loves photography. 
  %br
  %br          