.profile_background
  %img.header.responsive-image{:src => "scotheader3.jpg"}

  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "scot.jpg"} 
      %td   
        %p#bio
          Scot Chard