.profile_background
  %img#vlad_image.header.responsive-image{:src => "vlad1.jpg"}
  %h1#vlad_text.center-align Vlad
  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "vlad.jpg"} 
      %td   
        %p#bio
          %h5 
            Vladyslav Dokhvat
          %h5 
            Instagram: 
            %a.bio_links{:href => "https://www.instagram.com/vladdokhvat/"} VladDokvat
          %h5 
            Email:
            %a.bio_links{:href => "mailto:Vladdokhvat@gmail.com"} Vladdokhvat@gmail.com 
          %h5 
            Cell-Phone: (856) 503-8605
          