.profile_background
  %img.header.responsive-image{:src => "vlad1.jpg"}

  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "vlad.jpg"} 
      %td   
        %p#bio
          Vladyslav Dokhvat