.profile_background
  %img#vlad_image.header.responsive-image{:src => "vlad_bg-min.jpg"}
  %h1#vlad_text.center-align Vlad
  %table
    %tbody
    %tr
      %td
        %img.profile.center-align.responsive-image{:src => "vlad-min.jpg"} 
      %td   
        %p#bio
          .name
            Vladyslav Dokhvat
          %h5
            %a.social{:href => "https://www.instagram.com/vladdokhvat/", :target => "_blank"}
              %img.social{:src => "insta.png"}
            %a.social{:href => "https://twitter.com/VladDokhvat", :target => "_blank"}
              %img.social{:src => "twitter.png"}
            %a.social{:href => "https://www.facebook.com/vladyslav.dokhvat?fref=ts", :target => "_blank"}
              %img.social{:src => "facebook.png"}    
            %a.social{:href => "https://www.youtube.com/channel/UCcGFLtgkj2hyK3b0n9K8URA", :target => "_blank"}
              %img.social{:src => "youtube.png"}
            %a.social{:href => "https://www.linkedin.com/in/vladyslav-dokhvat-a16b6710a?trk=nav_responsive_tab_profile", :target => "_blank"}
              %img.social{:src => "linkedin.png"}  
            %a.social{:href => "mailto:Vladdokhvat@gmail.com"}
              %img.social{:src => "email.png"}  
          %br    
          %h5.about-us 
            Hello, I am Vladyslav, but you can just call me Vlad. I was born in Ternopil, Ukraine and moved to United States at the age of 9. I am currently attenting college to pursue my passion as a Software Engineer. My hobbies consist of photography, photoshop, coding, athletic activitives, fishing, and hanging out with friends. As a photographer, I enjoy most capturing images of landscapes and portraits, yet I am comfortable in all fields. My portfolio consists of family photography, landscapes, portrait images, and weddings. Feel free to contact me with any buisness inquiries, questions, comments, or concerns. Thank you! 
  %br
  %br          