%nav#nav
  .nav-wrapper
    %a.brand-logo{:href => "/"} SVJ Photography
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "/"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => "gallery"} Gallery  
      %li
        %a{:href => "scot"} Scot
      %li
        %a{:href => "vlad"} Vlad
      %li
        %a{:href => "justin"} Justin
      %li
        %a{:href => "contact"} Contact  
    %ul#mobile-demo.nav.side-nav
      %li
        %a{:href => "home"} Home
      %li
        %a{:href => "gallery"} Gallery  
      %li
        %a{:href => "scot"} Scot
      %li
        %a{:href => "vlad"} Vlad
      %li
        %a{:href => "justin"} Justin
      %li
        %a{:href => "contact"} Contact 