<nav id="nav">
  <div class="nav-wrapper">
    <a class="brand-logo" href="/">SVJ Photography</a>
    <a class="button-collapse" data-activates="mobile-demo" href="/">
      <i class="material-icons" id="drop_down">view_headline</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="gallery">Gallery  </a>
      </li>
      <li>
        <a href="scot">Scot</a>
      </li>
      <li>
        <a href="vlad">Vlad</a>
      </li>
      <li>
        <a href="justin">Justin</a>
      </li>
      <li>
        <a href="contact">Contact  </a>
      </li>
    </ul>
    <ul class="nav side-nav">
      <li>
        <a href="home">Home</a>
      </li>
      <li>
        <a href="gallery">Gallery  </a>
      </li>
      <li>
        <a href="scot">Scot</a>
      </li>
      <li>
        <a href="vlad">Vlad</a>
      </li>
      <li>
        <a href="justin">Justin</a>
      </li>
      <li>
        <a href="contact">Contact </a>
      </li>
    </ul>
  </div>
</nav>
