%html
  %head
    %title SvjPhotography
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Compiled and minified CSS
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css", :rel => "stylesheet"}
  %body
    =render 'layouts/navbar'
    = yield